
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.addNoteImg {
  width: 400px;
  margin: auto;
  border-radius: 10px; 
}

@media screen and (max-width:560px){
    .addNoteImg {
      display: none;
    }
}